In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('CKD.csv')

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True,dtype=int)

In [6]:
dataset.shape

(399, 28)

In [7]:
dataset["classification_yes"].value_counts()

classification_yes
1    249
0    150
Name: count, dtype: int64

In [8]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [9]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [10]:
indep=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
dep=dataset[['classification_yes']]

In [11]:
indep

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [14]:
dep

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

In [16]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':['gini', 'entrophy', 'log_loss'],
             'splitter':['best','random'],
            'max_features':['sqrt','log2']} 
grid=GridSearchCV(DecisionTreeClassifier(),param_grid,verbose=3,refit=True,n_jobs=-1,scoring='f1_weighted')
grid.fit(X_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
20 fits failed out of a total of 60.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
7 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeClassifier must be a str among {'entropy', 'log_loss', 'gini'}. Got 'entrophy' instead.

--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeClassifier must be a str among {'gini', 'log_loss', 'entropy'}. Got 'entrophy' instead.

--------------------------------------------------------------------------------
8 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeClassifier must be a str among {'log_loss', 'entropy', 'gini'}. Got 'entrophy' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.94350545 0.97730453 0.95094535 0.97720303        nan        nan
        nan        nan 0.95885541 0.97351685 0.93654348 0.96235268]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entrophy', 'log_loss'],
                         'max_features': ['sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [24]:
re=grid.cv_results_
y_pred=grid.predict(X_test)

In [25]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)

print("The confusion matrix is:\n\n",cm,"\n\n")
print("The classification report is :\n\n",clf_report)

The confusion matrix is:

 [[51  0]
 [ 1 81]]


The classification report is :

               precision    recall  f1-score   support

           0       0.98      1.00      0.99        51
           1       1.00      0.99      0.99        82

    accuracy                           0.99       133
   macro avg       0.99      0.99      0.99       133
weighted avg       0.99      0.99      0.99       133

In [26]:
from sklearn.metrics import f1_score
f1_scr=f1_score(y_test,y_pred,average='weighted')
print("The f1_score for best parameter is {}:".format(grid.best_params_),f1_scr)

The f1_score for best parameter is {'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'random'}: 0.9924946382275899

In [27]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.9939024390243902

In [28]:
table=pd.DataFrame.from_dict(re)

In [29]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007171,0.001311,0.017170,0.002020,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.962963,0.885265,0.907035,0.962264,1.000000,0.943505,0.041579,7
1,0.001809,0.002292,0.022866,0.006428,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",1.000000,0.943041,1.000000,0.981217,0.962264,0.977305,0.022116,1
2,0.004474,0.005871,0.016636,0.010456,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.945100,0.922185,0.962573,0.943651,0.981217,0.950945,0.019830,6
3,0.004175,0.005256,0.023146,0.010615,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",1.000000,0.961755,0.981217,0.961826,0.981217,0.977203,0.014332,2
4,0.001892,0.002538,0.000000,0.000000,entrophy,sqrt,best,"{'criterion': 'entrophy', 'max_features': 'sqr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
5,0.000000,0.000000,0.000000,0.000000,entrophy,sqrt,random,"{'criterion': 'entrophy', 'max_features': 'sqr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
6,0.003130,0.006260,0.000000,0.000000,entrophy,log2,best,"{'criterion': 'entrophy', 'max_features': 'log...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
7,0.003222,0.006444,0.000000,0.000000,entrophy,log2,random,"{'criterion': 'entrophy', 'max_features': 'log...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
8,0.006258,0.007664,0.015527,0.008391,log_loss,sqrt,best,"{'criterion': 'log_loss', 'max_features': 'sqr...",1.000000,0.925272,0.925524,0.962264,0.981217,0.958855,0.029811,5
9,0.004635,0.003809,0.011414,0.003541,log_loss,sqrt,random,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.981569,0.961755,0.981217,0.981217,0.961826,0.973517,0.009575,3
10,0.007965,0.007005,0.018764,0.006255,log_loss,log2,best,"{'criterion': 'log_loss', 'max_features': 'log...",0.908877,0.923510,0.907035,0.981031,0.962264,0.936543,0.029822,8
11,0.003125,0.006249,0.012500,0.006250,log_loss,log2,random,"{'criterion': 'log_loss', 'max_features': 'log...",0.981569,0.924528,1.000000,0.943093,0.962573,0.962353,0.026789,4

In [30]:
age=float(input("Age:"))
bp=float(input("BP:"))
al=int(input("Al:"))
su=int(input("Sugar:"))
bgr=float(input("bgr:"))
bu=float(input("bu:"))
sc=float(input("sc:"))
Sod=float(input("sod:"))
pot=float(input("pot:"))
hrmo=float(input("hrmo:"))
pcv=float(input("pcv:"))
wc=float(input("wc:"))
rc=float(input("rc:"))
sg_b=int(input("sg_b_0_or_1:"))
sg_c=int(input("sg_c_0_or_1:"))
sg_d=int(input("sg_d_0_or_1:"))
sg_e=int(input("sg_e_0_or_1:"))
rbc_normal=int(input("rbc_normal_0_or_1:"))
pc_normal=int(input("pc_normal_0_or_1:"))
pcc_present=int(input("pcc_present_0_or_1:"))
ba_present=int(input("ba_present_0_or_1:"))
htn_yes=int(input("htn_yes_0_or_1:"))
dm_yes=int(input("dm_yes_0_or_1:"))
cad_yes=int(input("cad_yes_0_or_1:"))
appet_yes=int(input("appet_yes_0_or_1:"))
pe_yes=int(input("pe_yes_0_or_1:"))
ane_yes=int(input("ane_yes_0_or_1:"))

Age:56
BP:100
Al:100
Sugar:100
bgr:100
bu:100
sc:100
sod:100
pot:10
hrmo:24
pcv:12
wc:12
rc:12
sg_b_0_or_1:1
sg_c_0_or_1:1
sg_d_0_or_1:1
sg_e_0_or_1:1
rbc_normal_0_or_1:1
pc_normal_0_or_1:1
pcc_present_0_or_1:1
ba_present_0_or_1:1
htn_yes_0_or_1:1
dm_yes_0_or_1:1
cad_yes_0_or_1:1
appet_yes_0_or_1:1
pe_yes_0_or_1:1
ane_yes_0_or_1:1

In [31]:
Future_Prediction=grid.predict([[age, bp, al, su, bgr, bu, sc, Sod, pot, hrmo, pcv,wc, rc, sg_b, sg_c, sg_d,sg_e, rbc_normal,pc_normal,pcc_present, ba_present, htn_yes, dm_yes, cad_yes,appet_yes, pe_yes, ane_yes]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]